*.Identifier
*.*.Identifier
*.pyc
.venv/
*.DS_Store
*.mp4
*.mat
*.h5
*.mp4
*.pb
*.gz
C4_W2_Assignment1/models/resnet50.data-00000-of-00001
C2_W3_Assignment_TensorFlow/logs/fit/20200908-171311/train/events.out.tfevents.1599585192.0838b7aa493f.43.44362.v2
C2_W3_Assignment_TensorFlow/logs/fit/20200908-171311/train/events.out.tfevents.1599585192.0838b7aa493f.profile-empty
C4_W3_Assignment1/model_data/variables/variables.data-00000-of-00001
C4_W3_Assignment1/model_data/variables/variables.index
C4_W3_Assignement2/data/CameraMask/*.*
C4_W4_Assignment2/output/*.*
C4_W4_Assignment1/keras-facenet-h5/model.json
C4_W4_Assignment1/keras-facenet_tf23/variables/variables.data-00000-of-00001
C4_W4_Assignment1/keras-facenet_tf23/variables/variables.index
C4_W3_Assignment1/images/*.*
C4_W3_Assignement2/data/CameraRGB/*.*
C4_W2_Assignment2/dataset/not alpaca/*.*
C4_W2_Assignment2/dataset/alpaca/*.*
C4_W2_Assignment1/models/checkpoint
C4_W2_Assignment1/models/resnet50.index
C2_W3_Assignment_TensorFlow/logs/fit/20200908-171311/validation/events.out.tfevents.1599585199.0838b7aa493f.43.48647.v2